<%- include('partials/header.ejs'); %>
    <h1>node5 Hello page1.html Page</h1>
    ユーザーメンテナンス（非同期通信）<br>
    id<input id="id" type="text" value="001"><br>
    email<input id="email" type="text" value="huru@hal.ac.jp"><br>
    username<input id="username" type="text" value="春太郎"><br>
    password<input id="password" type="text" value="12345"><br>
    <input id="getbutton" type="submit" value="取得（GET）">
    <input id="postbutton" type="submit" value="登録（POST）">
    <input id="putbutton" type="submit" value="変更（PUT）">
    <input id="deletebutton" type="submit" value="削除（DELETE）">
    <hr>
    <div id="output"></div>
    <hr>
    <img src="./image/image1.jpg" height="10%"><br>
    <img src="./image/image2.png" height="10%">
<%- include('partials/footer.ejs'); %>
