<%- include('partials/header.ejs'); %>
    <h1>node4-5 Hello page3 Page</h1>
    ユーザメンテナンス（非同期通信）<br>
    <input id="textvalue" type="text"><br>
    <input id="getbutton" type="submit" value="取得（GET）">
    <input id="postbutton" type="submit" value="登録（POST）">
    <input id="putbutton" type="submit" value="変更（PUT）">
    <input id="deletebutton" type="submit" value="削除（DELETE）">
    <hr>
    <div id="output"></div>
    <hr>

    <script>
    //GET処理
    $("#getbutton").click(function(e){
        $("#output").empty();
        let values = {
            name: $("#textvalue").val()
        };
        $.ajax({
            type: "GET",
            data: values,
            dataType: "JSON",
            url: "/users",
        }).done(function(results){
            console.log(typeof results);
            console.log(results);
            for (let i = 0; i < results.length; i++) {
                $("#output").append("GET:name = "+results[i].username+"<br>");
                $("#output").append("GET:email = "+results[i].email+"<br>");
                $("#output").append("GET:pass = "+results[i].password+"<br>");
            }
        }).fail(function(xhr , textStatus , errorThrown){
            console.log("ajax通信に失敗しました");
        }).always(function(xhr){

        });
    });

    //POST処理
    $("#postbutton").click(function(e){
        let values = {
            name: $("#textvalue").val()
        };
        $.ajax({
            type: "POST",
            data: values,
            dataType: "JSON",
            url: "/users",
        }).done(function(results){
            console.log("aaa");
            console.log(typeof results);
            console.log(results);
            $("#output").append("POST:"+results.name+"<br>");
        }).fail(function(xhr , textStatus , errorThrown){
            console.log("ajax通信に失敗しました");
        }).always(function(xhr){

        });
    });

    //PUT処理
    $("#putbutton").click(function(e){
        let values = {
            name: $("#textvalue").val()
        };
        $.ajax({
            type: "PUT",
            data: values,
            dataType: "JSON",
            url: "/users",
        }).done(function(results){
            console.log(typeof results);
            console.log(results);
            $("#output").append("PUT:"+results.name+"<br>");
        }).fail(function(xhr , textStatus , errorThrown){
            console.log("ajax通信に失敗しました");
        }).always(function(xhr){

        });
    });

    //DELETE処理
    $("#deletebutton").click(function(e){
        let values = {
            name: $("#textvalue").val()
        };
        $.ajax({
            type: "DELETE",
            data: values,
            dataType: "JSON",
            url: "/users",
        }).done(function(results){
            console.log(typeof results);
            console.log(results);
            $("#output").append("DELETE:"+results.name+"<br>");
        }).fail(function(xhr , textStatus , errorThrown){
            console.log("ajax通信に失敗しました");
        }).always(function(xhr){

        });
    });






    </script>

    <img src="/image/image1.jpg"><br />
    <img src="/image/image2.png">
<%- include('partials/footer.ejs'); %>