<%- include('partials/header.ejs'); %>
<h1>WebSocket ChatList</h1> 
<a href="/chat/1">チャットルーム１</a><br>
<a href="/chat/2">チャットルーム２</a><br>
<a href="/chat/3">チャットルーム３</a><br>
<ul id="output"></ul>
<%- include('partials/footer.ejs'); %> 