<html>
    <head>
        <meta charset="utf-8">
        <title>HTML Page</title>
        <link rel="stylesheet"  href="/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            console.log('表示');
        </script>
    </head>
<body>
headerここまで<br>