<%- include('partials/header.ejs'); %>
<h1>WebSocket Chat3</h1> 
<form id="chatForm">
    <input id="chat-input1" type="text">
    <input id="chat-input2" type="text">
    <input type="submit" class="button" value="Send">
</form>
<ul id="output"></ul>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/javascript3.js"></script>
<%- include('partials/footer.ejs'); %>
