<%- include("partials/header.ejs"); %> 
<h1><%= name %>様の専用URL＆ページ%></h1>（商品紹介などでも使用）<hr>

    <h1>node4 Hello page2.html Page</h1>
    <img src="/image/image1.jpg"><br />
    <img src="/image/image2.png">

<%- include("partials/footer.ejs"); %>